<launch>
  <arg name="start_driver" default="false"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="obstacle_scan_topic" default="/scan_obstacles"/>
  <arg name="resolution" default="0.05"/>

  <include file="$(find r2_tg30_race)/launch/tg30_bringup.launch">
    <arg name="start_driver" value="$(arg start_driver)"/>
    <arg name="scan_topic" value="$(arg scan_topic)"/>
  </include>

  <include file="$(find r2_tg30_race)/launch/scan_cleanup.launch">
    <arg name="scan_in" value="$(arg scan_topic)"/>
    <arg name="scan_obstacles" value="$(arg obstacle_scan_topic)"/>
  </include>

  <param name="/use_sim_time" value="false"/>

  <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node"
        args="-configuration_directory $(find yahboomcar_nav)/scripts -configuration_basename yahboomcar.lua"
        output="screen">
    <remap from="scan" to="$(arg obstacle_scan_topic)"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node"
        args="-resolution $(arg resolution)"
        output="screen"/>
</launch>
