<launch>
  <arg name="start_driver" default="false"/>
  <arg name="port" default="/dev/ydlidar"/>
  <arg name="baudrate" default="230400"/>
  <arg name="frame_id" default="lidar_link"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="scan_topic" default="/scan"/>

  <arg name="x" default="0.20"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1143"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="-0.0872665"/>
  <arg name="yaw" default="0.0"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lidar_static_tf"
        args="$(arg x) $(arg y) $(arg z) $(arg roll) $(arg pitch) $(arg yaw) $(arg base_frame) $(arg frame_id)" />

  <group if="$(arg start_driver)">
    <node pkg="ydlidar_ros_driver" type="ydlidar_ros_driver_node" name="ydlidar_ros_driver" output="screen">
      <param name="port" value="$(arg port)"/>
      <param name="baudrate" value="$(arg baudrate)"/>
      <param name="frame_id" value="$(arg frame_id)"/>
      <remap from="/scan" to="$(arg scan_topic)"/>
    </node>
  </group>
</launch>
