<launch>
  <arg name="start_driver" default="false"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="obstacle_scan_topic" default="/scan_obstacles"/>
  <arg name="waypoint_yaml" default="$(find r2_tg30_race)/waypoints/waypoints.yaml"/>
  <arg name="use_ackermann_bridge" default="true"/>

  <include file="$(find r2_tg30_race)/launch/tg30_bringup.launch">
    <arg name="start_driver" value="$(arg start_driver)"/>
    <arg name="scan_topic" value="$(arg scan_topic)"/>
  </include>

  <include file="$(find r2_tg30_race)/launch/scan_cleanup.launch">
    <arg name="scan_in" value="$(arg scan_topic)"/>
    <arg name="scan_obstacles" value="$(arg obstacle_scan_topic)"/>
  </include>

  <node pkg="r2_tg30_race" type="waypoint_map_builder.py" name="waypoint_map_builder" output="screen">
    <param name="yaml_file" value="$(arg waypoint_yaml)"/>
    <param name="path_topic" value="/race_path"/>
  </node>

  <node pkg="r2_tg30_race" type="pure_pursuit_twist.py" name="pure_pursuit_twist" output="screen">
    <rosparam command="load" file="$(find r2_tg30_race)/config/pure_pursuit.yaml" />
  </node>

  <node pkg="r2_tg30_race" type="follow_the_gap.py" name="follow_the_gap" output="screen">
    <rosparam command="load" file="$(find r2_tg30_race)/config/follow_the_gap.yaml" />
  </node>

  <node pkg="r2_tg30_race" type="joy_deadman.py" name="joy_deadman" output="screen">
    <rosparam command="load" file="$(find r2_tg30_race)/config/joystick_deadman.yaml" />
  </node>

  <node pkg="r2_tg30_race" type="cmdvel_gate.py" name="cmdvel_gate" output="screen">
    <rosparam command="load" file="$(find r2_tg30_race)/config/deadman_gate.yaml" />
  </node>

  <node pkg="r2_tg30_race" type="steering_modifier.py" name="steering_modifier" output="screen">
    <rosparam command="load" file="$(find r2_tg30_race)/config/steering_modifier.yaml" />
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <rosparam file="$(find r2_tg30_race)/config/twist_mux.yaml" command="load" />
    <remap from="cmd_vel_out" to="/cmd_vel"/>
  </node>

  <group if="$(arg use_ackermann_bridge)">
    <node pkg="r2_tg30_race" type="twist_to_ackermann.py" name="twist_to_ackermann" output="screen">
      <rosparam command="load" file="$(find r2_tg30_race)/config/ackermann_bridge.yaml" />
    </node>
  </group>
</launch>
