<launch>
  <arg name="scan_in" default="/scan"/>
  <arg name="scan_filtered" default="/scan_filtered"/>
  <arg name="scan_cloud" default="/scan_cloud"/>
  <arg name="scan_obstacles" default="/scan_obstacles"/>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan_filter_chain" output="screen">
    <rosparam command="load" file="$(find r2_tg30_race)/config/scan_filters.yaml" />
    <remap from="scan" to="$(arg scan_in)"/>
    <remap from="scan_filtered" to="$(arg scan_filtered)"/>
  </node>

  <node pkg="r2_tg30_race" type="scan_to_cloud.py" name="scan_to_cloud" output="screen">
    <param name="scan_topic" value="$(arg scan_filtered)"/>
    <param name="cloud_topic" value="$(arg scan_cloud)"/>
  </node>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
    <rosparam command="load" file="$(find r2_tg30_race)/config/pointcloud_to_laserscan.yaml" />
    <remap from="cloud_in" to="$(arg scan_cloud)"/>
    <remap from="scan" to="$(arg scan_obstacles)"/>
  </node>
</launch>
